<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
  <nav{{ navbar_attributes }}>
    {% if container_navbar %}
      <div class="container d-flex align-items-center justify-content-between py-2 w-100">
    {% endif %}

        {{ page.header }}

        {% if page.primary_menu or page.header_form %}
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="{{ navbar_collapse_btn_data }}" data-bs-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="{{ navbar_collapse_class }} d-flex align-items-lg-end" id="CollapsingNavbar">
            {% if navbar_offcanvas %}
              <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
            {% endif %}

            <div class="d-flex align-items-center w-100">
              {{ page.primary_menu }}

              {% if page.header_form %}
                <div class="d-flex align-items-center ms-auto">
                  {{ page.header_form }}
                </div>
              {% endif %}
            </div>

            {% if navbar_offcanvas %}
              </div>
            {% endif %}
          </div>
        {% endif %}

        {% if sidebar_collapse %}
          <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
        {% endif %}

    {% if container_navbar %}
      </div>
    {% endif %}
  </nav>
</header>
