<ul{{ attributes.addClass('navbar-nav', 'w-100') }}>
  {% for item in items %}
    {% set has_children = item.below is not empty %}
    {% set is_first = loop.first %}
    {% if is_first %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% else %}
      <li class="nav-item dropdown position-static">
        <div class="dropdown-wrapper">
          <a href="{{ item.url }}" class="nav-link mega-toggle" aria-haspopup="true">
            {{ item.title }}
          </a>
          {% if has_children %}
            <div class="mega-menu">
              <div class="container">
                <div class="row">
                  {% for child in item.below %}
                    <div class="col-md-3">
                      <a class="mega-menu__link" href="{{ child.url }}">{{ child.title }}</a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
